<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>Page Watcher Index</title>
  </head>
  <body data-bs-theme="dark">
    {{if .pages}}
      <h1>Stored Page Changes</h1>
      <table>
        <thead>
        <tr>
          <th>Configured Page Name</th>
        </tr>
        </thead>
        <tbody>
        {{range $key, $value := .pages}}
          <tr>
            <td>
              <a href="/changes/{{$key}}">{{$value}}</a>
            </td>
          </tr>
        {{end}}
        </tbody>
      </table>
    {{else}}
      <p>Did not find any pages in the database!</p>
    {{end}}

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
